aiogram==3.17.0
aiohttp==3.10.10
sqlalchemy==2.0.36
asyncpg==0.30.0            # Драйвер для PostgreSQL
redis==5.2.0
apscheduler==3.10.4
fastapi==0.115.6            # Пока не используется (заглушка), но оставлен
uvicorn==0.34.0              # Пока не используется
jinja2==3.1.4                # Пока не используется
python-dotenv==1.0.1
pycoingecko==3.1.0
fluent.runtime==0.4.0